---
import Base from '../layouts/BaseLayout.astro'
import weeks from '../config/weekly.json'
---
<Base title='Semanario' description='Lee nuestro semanario educativo y descubre las actividades que realizamos. Formamos líderes con habilidades y valores para trascender en la sociedad.' url='/semanario'>
    <section>
        <div class="flex flex-col items-center justify-center gap-8 min-h-[20rem] p-11 text-center text-blue-950 md:min-h-[15rem] md:p-7">
            <h3 class="text-3xl md:text-4xl">SEMANARIO</h3>
            {
                weeks.map((week) => (
                    week.subtitle? <h4 class="md:text-lg">{week.subtitle}</h4> : ''
                ))
            }
            {
                weeks.map((week) => (
                    week.description? <p class="font-light md:text-lg">{week.description}</p> : ''
                ))
            }
        </div>
        <div class="flex flex-col text-blue-950 px-7 pb-11 md:hidden">
            {
                weeks.map((week) => (
                    <>
                        {
                            week.content.map((day) => (
                                <div class="flex flex-col gap-3 px-4 py-3 border-b border-blue-950">
                                    <input type="checkbox" id={`open${day.date[1]}`} class="hidden peer"/>
                                    <label for={`open${day.date[1]}`} class="flex peer-checked:[&_svg:nth-child(2)]:hidden peer-checked:[&_svg:last-child]:block cursor-pointer">
                                        <h5 class="text-xl">{day.date[0]} {day.date[1]} {week.month}</h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#172554" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#172554" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up hidden"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    </label>
                                    <div class="hidden font-light peer-checked:block">
                                        <div>
                                            <p><span class="text-blue-600">1a hora: </span>{day["1hour"]}</p>
                                        </div>
                                        <div>
                                            <p><span class="text-blue-600">2a hora: </span>{day["2hour"]}</p>
                                        </div>
                                        <div>
                                            <p><span class="text-blue-600">3a hora: </span>{day["3hour"]}</p>
                                        </div>
                                        <div>
                                            <p>Descanso</p>
                                        </div>
                                        <div>
                                            <p><span class="text-blue-600">4a hora: </span>{day["4hour"]}</p>
                                        </div>
                                        <div>
                                            <p><span class="text-blue-600">5a hora: </span>{day["5hour"]}</p>
                                        </div>
                                        <div>
                                            <p><span class="text-blue-600">6a hora: </span>{day["6hour"]}</p>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </>
                ))
            }
        </div>
        <div class="hidden md:block w-[95%] mx-auto pb-10">
            {
                weeks.map((week) => (
                    <table class="w-full text-center text-blue-950 font-light">
                        <thead>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">I.E.M Liceo Integrado</th>
                                {
                                    week.content.map((day) => (
                                        <th class="border border-blue-950 px-4 py-4 font-medium">{day.date[0]} {day.date[1]} {week.month}</th>
                                    ))
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">1a hora<br/>7:00 - 7:55</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["1hour"]}</td>
                                    ))
                                }
                            </tr>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">2a hora<br/>7:55 - 8:50</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["2hour"]}</td>
                                    ))
                                }    
                            </tr>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">3a hora<br/>8:50 - 9:45</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["3hour"]}</td>
                                    ))
                                }    
                            </tr>
                            <tr class="border border-blue-950">
                                <th class="border border-blue-950 px-4 py-4 font-medium">Descanso<br/>9:45 - 10:15</th>
                                <td colspan="5" class="font-medium">Descanso</td>
                            </tr>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">4a hora<br/>10:15 - 11:10</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["4hour"]}</td>
                                    ))
                                }    
                            </tr>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">5a hora<br/>11:10 - 12:05</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["5hour"]}</td>
                                    ))
                                }    
                            </tr>
                            <tr>
                                <th class="border border-blue-950 px-4 py-4 font-medium">6a hora<br/>12:05 - 13:00</th>
                                {
                                    week.content.map((day) => (
                                        <td class="border border-blue-950 px-4 py-4">{day["6hour"]}</td>
                                    ))
                                }
                            </tr>
                        </tbody>
                    </table>
                ))
            }
        </div>
    </section>
</Base>