---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/md.css'
const {frontmatter} = Astro.props
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/escudo-75x75.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={frontmatter.description}>
		<title>{`${frontmatter.title} - IEM Liceo Integrado de Zipaquirá`}</title>
	</head>
	<body class="scroll-smooth scrollbar-thin scrollbar-thumb-blue-950 overflow-x-hidden" style="font-family: 'Poppins', sans-serif;">
		<main>
			<Header/>
			<div class="text-blue-950">
				<div class="mb-5">
					<div class="bg-blue-600 p-5 text-white">
						<p class="font-normal">Noticia</p>
					</div>
					<div class="flex flex-col gap-5 p-5">
						<div class="">
							<a href="/noticias/todas-las-noticias" class="hover:text-blue-600">Todas las entradas</a> <span class="text-blue-600">/</span> <a href="/noticias" class="hover:text-blue-600">Últimas noticias</a>
						</div>
						<div>
							<p class="font-normal">{frontmatter.author}</p>
							<p class="font-normal">{frontmatter.date}</p>
						</div>
						<div class="flex flex-col gap-5 pb-5 border-b-2 border-blue-600">
							<slot/>
						</div>
					</div>
				</div>
			</div>
			<Footer/>
		</main>
	</body>
</html>